:root {
  --primary-background-color: #FFFFFF;
  --secondary-background-color:#2E2F42;
  --tertiary-background-color:#F4F4FD;
  --secondary-color-black:#2E2F42;
  --primary-color-black:#434455;
  --primary-color-white:#FFF;
  --secondary-color-white:#F4F4FD;
  --active-link-color: #404BBF;
  --button-color-primary:#4D5AE5;
  --button-color-secondary:#F4F4FD;
  --button-text-primary:#4D5AE5;
  --button-link-color:#404BBF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family:"Roboto", sans-serif;
  color:#434455;
  background-color:#FFFFFF;
}

.container {
  width: 100%;
  max-width:1158px;
  /* padding: 0 15px; */
  margin: 0 auto;  
}

.list {
  list-style-type: none;
}

.logo {
    color: var(--button-text-primary);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--active-link-color)
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



 /* Header */

 .header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E7E9FC;

 }

 .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

.header-menu-link {
  color:var(--secondary-color-black);
}

.header-menu-link:hover {
  color: var(--active-link-color);
}

.header-logo-studio {
  color: var(--secondary-color-black);
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:72px;
}

.header-menu-list {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap:40px;
}

.header-address {
  font-size: 16px;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.address-contact {
  color: var(--primary-color-black);
}

.address-list {
  display: flex;
  gap: 40px;
}


/* Hero-section */

.hero-title {
  color: var(--primary-color-white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  flex-shrink: 0;
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  gap: 48px;
}

.service-order-button {
  color: var(--primary-color-white);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--button-color-primary);
  padding: 16px 32px;
  border-radius: 4px;
  border:none;
}

.service-order-button:hover,
.service-order-button:focus {
  background-color: var(--active-link-color);
  cursor: pointer;
}

.hero-section {
  background-color: var(--secondary-background-color);
}

/* Advantages-section */

.advantages-header {
  color: var(--secondary-color-black);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.advantages-section-list {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  gap:24px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap:8px;
}
.advantages-title {
  color:var(--secondary-color-black);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-description {
  color: var(--primary-color-black);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Features-section */

.features-item-list {
  display:flex;
  gap:24px;
  padding-top: 72px;
  padding-bottom: 120px;
}
.features-section-title {
color: var(--secondary-color-black);
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
}

/* Team-section */

.team-section {
  background-color: var(--tertiary-background-color);
  height: 732px;
}

.team-section-title {
  color: var(--secondary-color-black);
  font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}

.team-member {
  color: var(--secondary-color-black);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 8px;
}

.team-member-description {
  color: var(--primary-color-black);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
}

.team-list {
  display:flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;

  
}

.team-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color-white);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-color-white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* FOOTER */

.footer {
  background-color: var(--secondary-background-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:17.5px;
  height: 312px;
}

.footer-logo-studio {
  color: var(--secondary-color-white);

}

.footer-description {
  color: var(--secondary-color-white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

/* PORTFOLIO */

/* Filter-button-section */

.filter-button {
 font-family: "Roboto", sans-serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.04em;
 background-color: var(--button-color-secondary);
 color: var(--button-text-primary);
 cursor: pointer;
 padding: 12px 24px;
 border-radius: 4px;
 border: 1px solid #E7E9FC;
}

.filter-button-list {
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 72px;
  gap: 24px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--button-link-color);
  color: var(--primary-color-white);
}

/* Portfolio-section */

.portfolio-item {
  border: 1px solid #E7E9FC;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color-black);
  padding: 32px 16px 0px;
}
.portfolio-section-list {
  display: flex;
  justify-content:  space-between;
  flex-wrap:wrap;
  padding-bottom: 120px;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--primary-color-black);
  padding: 8px 16px 32px;
}

/* FINISH */